:root {
  //Основные значения
  --font-family: "Inter", sans-serif;
  --container-width: 100%;
  --container-offset: 25px;

  //Цвета
  --light-color: #ffffff;
  --dark-color: #1e1e1e;
  --grey-color: #373737;
}
